@{
    ViewBag.Title = "Contact";
}

<table>
    <tr>
        <td>
            <h2>Nous Contacter :</h2>
            <address>
                ADC : Académie Dien Chan <br />
                99 rue Brancion<br />
                75015 PARIS <br />
                Phone: +6 36 38 61 36<br />
                Email: <a href="mailto:dienchanparis@gmail.com">dienchanparis@gmail.com</a>
            </address>

            <h2>Horaires d'ouverture</h2>
            <address>
                Hors jours févriés et vacances scolaires zone C ( Paris)<br />
                Sur Rendez-vous <br />
                Phone: +6 36 38 61 36<br />
                Email: <a href="mailto:academiedienchan@gmail.com">academiedienchan@gmail.com</a>
            </address>
        </td>
        <td style="width: 30px;"></td>
        <td>
            <img alt="Address Map" src="~/Images/address_map.jpeg" />
        </td>
    </tr>
</table>
