@{
    ViewBag.Title = "Dien Chan";
}
<div class="jumbotron">
    <h1>Dien Chan</h1>
    <p class="lead">C'est une méthode multiréflexologique faciale inventée au début des années 1980, par le Professeur Docteur Bùi Quoc Châu, consistant à détecter et à stimuler les points douloureux sur le visage et le corps</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>A qui cela rend-il service ?</h2>
        <p>
            A tout le monde, mais en particulier
            <ul>
                <li>À tous ceux ceux qui veulent la pratiquer sur eux-même</li>
                <li>À ceux qui veulent la pratiquer sur leurs proches</li>
                <li>À ceux qui veulent l'enseigner</li>
                <li>À ceux qui veulent la développer</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Comment faire ?</h2>
        <p>
            D'abord en s'informant
            <ul>
                <li>Lire le livre "ABC du Dien Chan" éditions Grancher</li>
                <li>Assister à une conférence Dien Chan</li>
            </ul>

            Puis en se formant
            <ul>
                <li>Participer à une formation pour les niveaux 1*2*3 ou plus 4*5*6</li>
                <li>Et, pour les futurs formateurs, faire un séjour au Vietnam, dans la clinique du Professeur</li>
            </ul>

            Enfin en pratiquant régulièrement
            <ul>
                <li>Sur soi-même</li>
                <li>Sur ses proches</li>
                <li>Sur ceux qui en ont besoin</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>A quoi ça sert, pourquoi faire ?</h2>
        <p>
            Pour améliorer son bien-être, réduisant les médicaments et leurs effets secondaires :
            <ul>
                <li>Soulager la douleur, en complément de la médecine officielle ou en attendant le médecin</li>
                <li>Renforcer son tonus, équilibrer son énergie</li>
                <li>Garder sa jeunesse</li>
                <li>Augmenter sa beauté</li>
            </ul>
        </p>
    </div>
</div>