@using DienChanOnline.Models.Structs
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("DienChan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <a href="/" class="navbar-brand">
                <img src="/Images/logo.png" alt="DienChan" height="30" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (User.IsInRole(RoleName.Administrator))
                {
                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                }
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>